# Root .editorconfig
root = true

# All
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

# PowerShell
[*.{ps1,psm1,psd1}]
indent_size = 4

# Docker
[{Dockerfile,*.Dockerfile}]
indent_size = 2
